{% extends "authentication.html" %}


{% block meta %}
<title>Login</title>

{% endblock meta %}

{% block content %}



<!-- Modal Login -->
<div class="modal fade" id="LoginPopup" tabindex="-1" aria-labelledby="LoginPopup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="LoginPopupLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Username</label>
                <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Register -->
<div class="modal fade" id="RegisterPopup" tabindex="-1" aria-labelledby="RegisterPopup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="RegisterPopupLabel">Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button" onclick="location.href='register_manajer_penonton'">Manajer</button>
                <button class="btn btn-primary" type="button" onclick="location.href='register_manajer_penonton'">Penonton</button>
                <button class="btn btn-primary" type="button" onclick="location.href='register_panitia'">Panitia</button>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<!-- ULeague - 2 Login or Register -->
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">U League - 2</h3>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginPopup">
                Login 
              </button>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegisterPopup">
                Register 
              </button>
  
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock content %}


