{% extends 'base_manajer.html' %}
{% load static %}

{% block content %}

<br></br>

<body style="background-color: lightblue;">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <h3 class="mb-5">INI AKHIR MUSIM!</h3>
          <h4>KLIK TOMBOL NEXT UNTUK MEMBUAT PERTANDINGAN BARU</h4>

          <button type="button" class="btn btn-primary">BUAT</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="wrapper">
    
  </div>
</div>
<br></br>
</body>

{% endblock content %}
