{% extends 'base_manajer.html' %}
{% load static %}

{% block content %}

<br></br>

<body style="background-color: lightblue;">

<div class="container">
  <div class="wrapper">
    <table class="table table-borderless" bgcolor="#C4DAFC"  width="100%">
      <thead>
        <tr bgcolor="#1D498C">
          <td colspan="10" align="center"><strong>Peristiwa Tim A</strong> </td>
        </tr>

        <!--LIST PEMESANAN-->
        <tr bgcolor="#4E88E0">
          <td align="center"><strong>Nama Pemain</strong></td>
          <td align="center"><strong>Peristiwa</strong></td>
        </tr>

        <tr align="center">
          <td>Cristiano Mubaraque</td>
          <td>Gol</td>
        </tr>

        <tr align="center">
          <td>Messi Abdullah</td>
          <td>Gol</td>
        </tr>

        <tr align="center">
          <td>Muhammad Puyol</td>
          <td>Kartu Kuning</td>
        </tr>
    </table>
  </div>
</div>
<br></br>
</body>

{% endblock content %}
