{% extends 'base_panitia.html' %}
{% load static %}

{% block meta %}
<head>
  <title>Rapat Pertandingan</title>
  <!-- Tambahkan stylesheet Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
{% endblock meta %}

{% block content %}
<section style="background-color: lightblue; height: 955px;">
    <div class="container py-3 h4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-8">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-header text-center" style="background-color: #508bfc;">
              <h2>Rapat Pertandingan Tim A vs Tim B</h2>
            </div>
            <div class="card-body pt-3 p-5 text-center">
                <div class="container mt-2">
                    <form>
                      <div class="form-group">
                        <div class="pb-2 text-left">
                        <label for="hasil_rapat" class="text-left">Hasil Rapat:</label>
                      </div>
                        <textarea class="form-control" id="hasil_rapat" rows="5"></textarea>
                      </div>
                <div class="pt-2">
                      <button type="submit" class="btn btn-primary pt-2">Submit</button>
                    </div>
                    </form>
                
                  </div>
                </div>
</div>
</div>
</div>
</div>
</section>
{% endblock content %}